<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ddd4.dropit">
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".DropitApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_dropit"
        android:roundIcon="@mipmap/ic_dropit_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        tools:ignore="AllowBackup">
        <receiver
            android:name=".presentation.util.alarm.AlarmReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".presentation.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".presentation.ui.category.CategoryActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".presentation.ui.folder.FolderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.ui.moveFolder.MoveFolderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.ui.add.AddActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.ui.capture.CaptureActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.ui.detailfolder.FolderItemDetailActivity"
            android:screenOrientation="portrait"/>
        
        <activity android:name="com.ddd4.dropit.presentation.ui.createfolderdialog.CreateFolderDialogActivity"
            android:theme="@style/Theme.DropItDialog" />

        <activity android:name=".presentation.ui.enddialog.EndDialogActivity"
            android:theme="@style/Theme.DropItDialog" />

    </application>


</manifest>